# =====================
# Python / tools
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.coverage

# =====================
# Entornos virtuales
# =====================
.venv/
venv/

# =====================
# Secretos
# =====================
.env
!.env.example

# =====================
# OS
# =====================
.DS_Store

# =====================
# Datos locales / generados
# =====================
data/interim/*
data/processed/*
qdrant_data/*
qdrant_data_BACKUP/*

# =====================
# VSCode
# =====================
.vscode/
